{% if admin.hasRoute('edit') and admin.id(object) and admin.isGranted('EDIT', object) and settings.btn_edit %}
    <a class="btn btn-sm btn-primary btn-outline sonata-ba-action sonata-action-element" href="{{ admin.generateObjectUrl('edit', object) }}">
        <i class="fa fa-edit"></i>
        {{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
{% endif %}