{% if admin.hasroute('list') and admin.isGranted('LIST') and settings.btn_list %}
    <a class="btn btn-sm btn-info btn-outline sonata-ba-action sonata-action-element" href="{{ admin.generateUrl('list') }}">
        <i class="fa fa-list"></i>
        {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
{% endif %}